---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Benefit from '../components/Benefit.astro';
import Testimonial from '../components/Testimonial.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout>
  <main>
    <Hero />
	<Benefit />
	<Testimonial />
	<Pricing />
  <FAQ />
  </main>
</Layout>